@charset "UTF-8";

@font-face {
  font-family: "tatbela";
  src:url("fonts/tatbela.eot");
  src:url("fonts/tatbela.eot?#iefix") format("embedded-opentype"),
    url("fonts/tatbela.woff") format("woff"),
    url("fonts/tatbela.ttf") format("truetype"),
    url("fonts/tatbela.svg#tatbela") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tatbela" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tatbela" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\63";
}
.icon-chevron-left:before {
  content: "\64";
}
.icon-eye:before {
  content: "\61";
}
.icon-eye-slash:before {
  content: "\62";
}
.icon-lock-locker-streamline:before {
  content: "\67";
}
.icon-lock-1:before {
  content: "\69";
}
.icon-user-1:before {
  content: "\6d";
}
.icon-check-2:before {
  content: "\71";
}
.icon-x:before {
  content: "\75";
}
.icon-star:before {
  content: "\65";
}
.icon-star-half-o:before {
  content: "\66";
}
.icon-star-o:before {
  content: "\68";
}
.icon-user:before {
  content: "\6a";
}
.icon-usd:before {
  content: "\6b";
}
.icon-clock-o:before {
  content: "\6c";
}
.icon-map-marker:before {
  content: "\6e";
}
.icon-archive:before {
  content: "\6f";
}
